@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

$base-color: #2DDEB0;
// $sub-color: #6C716F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

// Main

.wrapper {
    margin-left: 7em;
    margin-top: 5em;

    .jitter {
        font-size: 6rem;
        line-height: 150px;
        
        &:hover {
            animation: move .1s ease-out forwards;
        }

        a {
            &:hover {
                color: $base-color;
            }
        }
        
    }
}

// Animation

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50px);
    }
}


